body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: olive;
}

h1 {
    font-size: 20rem;
    font-family: cursive;
}

.letter {
    
    color: rgb(167, 37, 102);
}